.chapterListContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #537188; /* 연한 배경색 */
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%; /* 중앙에 맞추기 위해 폭 설정 */
    margin: 0 auto;
}

.chapterItem {
    display: flex; /* 챕터 텍스트와 이미지를 나란히 배치 */
    align-items: center; /* 이미지와 텍스트의 수직 중앙 정렬 */
    width: 100%;
    padding: 15px 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.chapterInfo {
    display: flex;
    align-items: center;
    width: 100%;
}

.chapterImage {
    width: 50px; /* 이미지 크기 조절 */
    height: auto;
    border-radius: 4px; /* 모서리를 둥글게 */
    margin-right: 15px; /* 텍스트와 이미지 간의 여백 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 약간의 그림자 */
}

.chapterIndex {
    font-size: 1.2rem;
    font-weight: 600;
    color: #333;
    margin: 0;
    flex-grow: 1; /* 텍스트가 남은 공간을 차지하도록 */
}

