.carousel {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.carousel img {
    width: 100%; /* 너비를 100%로 설정 */
    height: 500px; /* 원하는 높이 설정 */
    object-fit: cover; /* 이미지 비율을 유지하면서 영역에 맞게 자르기 */
    border-radius: 8px; /* 모서리 둥글게 하기 */
}